body{
	
	background-color: lightgrey;
	text-decoration: none;
}

.naslov{
	color: red;
	font-family: Times New Roman;
	font-size: 4rem;
	text-decoration: none;
	

}
.naslov:hover{
	color:blue;

}
