body{
	background-color: lightgrey;
	margin-left: 30px;
}


h1{
	text-align: center;
	font-size: 3rem;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink ;
	/*border-right-angle: 45%;*/
	font-family: fantasy;
	width: 400px;
	box-shadow: 4px 4px 4px purple;


}

h2{
	text-align: left;
	font-family: fantasy;

}

a{
      display: inline-grid;
	  grid-column-start: 1;
      grid-column-end: span col4-start;
      grid-row-start: 2;
      grid-row-end: span 3;
      justify-content: center;
      padding: 5rem;
      font-family: arial;
      width: 50px;
      height: 50px;
      color: darkblue;
      margin-right: 5%;
      margin-bottom: 5%;


 }

a:hover {

   color: red; 


}

.zone {
    cursor:pointer;
    text-align: center;
    font-size:2em;
    border-radius:30px;
    border:1px solid #bbb;
    transition: all 0.1s linear;
 }

 .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    
    
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11{
    background-color: #6666ff;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;


}

.pic2:hover, .pic3:hover, .pic4:hover, .pic5:hover, .pic6:hover, .pic7:hover, .pic8:hover, .pic9:hover,
.pic10:hover, .pic11:hover {
    color:transparent;
    background-image: url(underconstruction.png);
    background-size: 110%;
    background-position: center;

}
.pic1{
background-image: url(html.png);


}

.pic1:hover{
    color:transparent;
    background-image: url(html.png);
    background-size: 60%;
    background-position: center;
}

.pic2{
background-image: url(css.png);


}

.pic3{
background-image: url(js.png);

}

.pic4{
background-image: url(bootstrap.png);
background-size: 40%;
}

.pic5{
background-image: url(nodejs.png);
background-size: 60%;
}

.pic6{
background-image: url(react.png);
background-size: 80%;
}

.pic7{
background-image: url(github.png);
background-size: 80%;
}

.pic8{
background-image: url(nmp.png);
background-size: 40%;
}

.pic9{
background-image: url(api.png);
background-size: 50%;
}

.pic10{
background-image: url(typescript.png);
background-size: 80%;
}

.pic11{
background-image: url(docker.png);
background-size: 60%;
}





