body {
	
    background-image: url(html.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 300px;
    background-color: lightgrey;


}

h1 {
    font-size: 4rem;
	color: rgb(102, 0, 204);
}

h2{
	font-size: 4rem;
}

h4{
    text-align: right;
    font-size:50px;
   
}

.sub{
    text-align: left;
    font-family: fantasy;
    font-size: 2rem;

}

.title{
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink ;
    font-family: fantasy;
    width: 400px;
    box-shadow: 4px 4px 4px purple;
}

a{
    display: block;
    text-align: center;
    color: black;

}

a:hover{

	color: red;	

}

a:link {
	text-decoration:none;

	
}
#shor{
    
    text-align: right;
    display: inline-flex;
    font-size: 2rem;
    list-style: none;
    border-bottom: 2px solid;
    
   
}

li{
    margin:1rem;
    margin-bottom: 0.2rem;
    font-family: fantasy;
}




.selectors {
    display: grid;
    grid-gap: 90px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   /*grid-template-columns: repeat(1, min-content) 8fr;*/

 }


 .selectors:hover {

    color: red;

 }


.blue {
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
}
.zone {
    /* padding: 5%; */
    cursor: pointer;
    /* text-align: center; */
    font-size: 2rem;
    border-radius: 30px;
    border: 1px solid rgb(102 0 204 / 58%);
    transition: all 0.1s linear;

}
.zone1 {
    cursor:pointer;
    display:block;
    text-align: center;
    font-size:2em;
    border:1px solid white;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    
    
}

.zone1:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    
    
}


.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */


}
div {
    display: block;
}

.tooltip {
    position: inherit;
    border-bottom: 1px dotted black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*.red*/{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/*.purple */{
    background: #A88BEB; /* Old browsers */
    background: -moz-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A88BEB), color-stop(44%,#F1A7F1), color-stop(100%,#F8CEEC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* IE10+ */
    background: linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* W3C */
}

